.container {
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #FFF5EE;
    border-radius: 60%;
}

.title {
    font-weight: 900;
    font-size: 5rem;
}

.text {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-style: italic;
    width: 70%;
}

button {
    margin-top: 5rem;
    padding: 0.2rem;
    border: none;
    border-radius: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }
}
