.container {
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #FFF5EE;
    border-radius: 60%;
}

.title {
    font-weight: 900;
    font-size: 5rem;
}

.text {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-style: italic;
    width: 70%;
}

button {
    margin-top: 5rem;
    padding: 0.2rem;
    border: none;
    border-radius: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 45rem;
        height: 45rem;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 40rem;
        height: 40rem;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 30rem;
        height: 30rem;
    }

    .title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 25rem;
        height: 25rem;
    }

    .title {
        font-size: 2rem;
    }
}